# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rock-paper-scissor.iml
.idea/workspace.xml
